footer {
  display: flex;
  justify-content: center;
  min-height: 70px;
  background-color: black;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a,
    p {
      padding-left: 27px;
      padding-right: 27px;
      color: white;
      text-decoration: none;

      @media all and (min-width: 60em) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    p {
      cursor: default;
    }
  }
}
