<section class="product-viewer" *ngIf="articulosLength > 0">
  <div class="container">
    <div class="links">
      <h3 class="title">
        <a title="Ir a {{ promotionTitle }}" (click)="onPromotionClick()">{{
          promotionTitle
        }}</a>
      </h3>
      <a
        class="link"
        title="Ir a {{ promotionTitle }}"
        (click)="onPromotionClick()"
        >Ver promoción</a
      >
    </div>
    <div class="list">
      <div
        class="product"
        *ngFor="let articulo of articulos"
        (click)="onProductClick(articulo)"
      >
        <picture>
          <source
            type="image/webp"
            [srcset]="articulo?.url_imagen | imagenWebp: 'articulos'"
          />
          <source
            type="image/jpeg"
            [srcset]="articulo?.url_imagen | imagenJpg: 'articulos'"
          />
          <img
            mat-card-image
            class="product__image"
            loading="lazy"
            [src]="articulo?.url_imagen | imagenJpg: 'articulos'"
            alt="{{ articulo.descripcion }} {{ articulo.descripcion2 }}"
            title="{{ articulo?.descripcion }} {{ articulo?.descripcion2 }}"
          />
        </picture>

        <p class="product__title">
          {{ articulo.descripcion }} {{ articulo.descripcion2 }}
        </p>
        <p class="product__price">{{ articulo.PVP }} EUR</p>
      </div>
    </div>
  </div>
</section>
