<section class="product-viewer" *ngIf="articulosLength > 0">
  <div class="container">
    <div class="links">
      <h3 class="title">
        <a title="{{ promotionTitle }}" (click)="onPromotionClick()">{{
          promotionTitle
        }}</a>
      </h3>
      <a
        class="link"
        title="Ir a {{ promotionTitle }}"
        (click)="onPromotionClick()"
        >Ver promoción</a
      >
    </div>
    <div class="list">
      <div
        class="product"
        *ngFor="let articulo of articulos"
        (click)="onProductClick(articulo)"
      >
        <img
          mat-card-image
          class="product__image"
          loading="lazy"
          src="{{ articulo.url_imagen }}"
          alt="{{ articulo.descripcion }} {{ articulo.descripcion2 }}"
          title="{{ articulo?.descripcion }} {{ articulo?.descripcion2 }}"
        />
        <p class="product__title">
          {{ articulo.descripcion }} {{ articulo.descripcion2 }}
        </p>
        <p class="product__price">{{ articulo.PVP }} EUR</p>
      </div>
    </div>
  </div>
</section>
