.departament-detail {
  margin-top: 30px;
  margin-bottom: 30px;

  .title {
    text-align: center;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;

    .product {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 20px;
      width: 40%;
      max-width: 256px;
      cursor: pointer;

      &__title {
        margin-top: 5px;
        margin-bottom: 5px;
        color: grey;
      }

      &__price {
        margin-top: auto;
        margin-bottom: 0px;
        font-weight: bold;
      }

      img {
        width: 100%;
      }

      @media all and (max-width: 39.99em) {
        &:nth-child(2n) {
          margin-right: 0px;
        }
      }

      @media all and (min-width: 40em) and (max-width: 59.99em) {
        width: 30%;

        &:nth-child(3n) {
          margin-right: 0px;
        }
      }

      @media all and (min-width: 60em) {
        width: 20%;

        &:nth-child(4n) {
          margin-right: 0px;
        }
      }
    }
  }
}
