<section class="product-detail">
  <div class="container">
    <app-boton-atras></app-boton-atras>
    <div class="product-wrapper">
      <figure class="product-detail__figure">
        <img
          src="{{ articulo?.url_imagen }}"
          class="product-detail__image"
          loading="lazy"
          alt="{{ articulo?.descripcion }} {{ articulo?.descripcion2 }}"
          title="{{ articulo?.descripcion }} {{ articulo?.descripcion2 }}"
        />
      </figure>
      <div class="product-detail__info">
        <p class="product-detail__marca">
          {{ articulo?.cod_marca }} - {{ nomenclatura?.denominacion }}
        </p>
        <h2 class="product-detail__descripcion">
          <strong
            >{{ articulo?.descripcion }} {{ articulo?.descripcion2 }}</strong
          >
        </h2>
        <p class="product-detail__precio">
          <b>{{ articulo?.PVP }} EUR</b>
        </p>
        <p class="product-detail__caracteristica">
          {{ caracteristica?.caracteristicas }}
        </p>
        <p class="product-detail__ref">REF: {{ articulo?.ref_pve }}</p>
        <p class="product-detail__ref">
          Disponibilidad
          <label *ngIf="stock?.existencias_disponibles >= 20">Normal</label>
          <label *ngIf="stock?.existencias_disponibles < 20">Baja</label>
        </p>
      </div>
    </div>
  </div>
</section>
