<section class="product-detail">
  <div class="container">
    <div>
      <img
        src="{{ articulo?.url_imagen }}"
        alt="{{ articulo?.descripcion }} {{ articulo?.descripcion2 }}"
        title="{{ articulo?.descripcion }} {{ articulo?.descripcion2 }}"
      />
    </div>
    <div>
      <p>{{ articulo?.cod_marca }}</p>
      <h2>
        <strong
          >{{ articulo?.descripcion }} {{ articulo?.descripcion2 }}</strong
        >
      </h2>
      <p>{{ articulo?.PVP }} EUR</p>
      <p>REF: {{ articulo?.ref_pve }}</p>
    </div>
  </div>
</section>
