/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  max-width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
