/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section {
  margin-top: 75px;
  margin-bottom: 75px;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .wrapper-main {
    flex: 1;
    margin-top: 64px;
    padding-left: 27px;
    padding-right: 27px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
}
