/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .wrapper-main {
    flex: 1;
  }
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1024px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
