<section class="promotion-detail">
  <div class="container">
    <h2 class="title">{{ promocion?.denominacion }}</h2>
    <div class="list">
      <div
        class="product"
        *ngFor="let articulo of articulos"
        (click)="onProductClick(articulo)"
      >
        <img
          mat-card-image
          class="product__image"
          src="{{ articulo?.url_imagen }}"
          alt="{{ articulo?.descripcion }} {{ articulo?.descripcion2 }}"
        />
        <p class="product__title">
          {{ articulo?.descripcion }} {{ articulo?.descripcion2 }}
        </p>
        <p class="product__price">{{ articulo?.PVP }} EUR</p>
      </div>
    </div>
  </div>
</section>
