<div id="page-welcome">
  <section class="items-welcome">
    <div class="container">Items</div>
  </section>
  <section class="search-welcome">
    <div class="container">
      <mat-form-field
        class="input-buscar"
        appearance="outline"
        [style.fontSize.px]="38"
      >
        <mat-label>¿Qué producto estás buscando?</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </section>
  <section class="info-welcome">
    <div class="container">Info</div>
  </section>
  <section class="contact-welcome">
    <div class="container">
      <div class="contact__sections">
        <div class="contact__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5984.291464861368!2d2.1837002983361473!3d41.414355062694575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x42b15ed2383dfd0!2sMenaje%20Hogar%20Jan%C3%A9!5e0!3m2!1sca!2ses!4v1605184400191!5m2!1sca!2ses"
            frameborder="0"
          ></iframe>
        </div>
        <div class="contact__dates">
          <div>
            <mat-icon>phone</mat-icon
            ><a
              href="tel:+3493 352 29 34"
              title="¡Llámanos por teléfono!"
              target="_blank"
              >93 351 74 54</a
            >
          </div>
          <div>
            <mat-icon>email</mat-icon
            ><a
              href="mailto:janebebes@gmail.com"
              title="¡Envíanos un correo electrónico!"
              target="_blank"
              >janebebes@gmail.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
